# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Note: main.js IS included for easy installation
# Users can clone directly into their plugins folder

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store
